{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form method="POST" action = "{% url 'update' edit_blog.id %}" method="POST" enctype = "multipart/form-data">
                   {% csrf_token %}
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="title" type="text" value="{{edit_blog.title}}">
                        <label for="title">제목</label>
                        <div class="invalid-feedback" data-sb-feedback="title:required">A name is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="writer" type="text" value="{{edit_blog.writer}}">
                        <label for="writer">작성자</label>
                        
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <textarea name="body" cols = "40" rows = "10" placeholder = "본문">{{edit_blog.body}}</textarea>
                        <label for="body"></label>
            
                    </div>
                    <div class="form-floating mb-3">
                        업로드: <input name="image" type = "file">
                            </div>
                    <!-- Message input-->
                      
                    <div class="form-floating mb-3">
                        <input class="form-control" name="feeling" type="text">
                        <label for="feeling">기분</label>
                         
                         
                        <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                  
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <!-- Submit Button-->
                    <button type="submit">수정</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}