{% extends 'main.html' %}
{% load static %}
{% block content %}

{% for blogs in blogs.all %}
<section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">한번 보셔유</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="btn btn-xl btn-outline-light"><a href = "{%url 'detail' blogs.id %}"><h3>
                        {{blogs.title}}</h3></a></div>
                        <div class="col-lg-4 ms-auto"><p class="lead">
                                {{blogs.writer}}</p></div>
                                <div class="col-lg-4 ms-auto"><p class="lead">
                                        {{blogs.pub_date}}</p></div>
                                               
                <div class="col-lg-4 me-auto"><p class="lead">{{blogs.body}}</p></div>
            </div>
            <!-- About Section Button-->
            <!--<div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                    <i class="fas fa-download me-2"></i>
                    Free Download!
                </a>
            </div>-->
        </div>
    </section><!--<a href = "{%url 'detail' blogs.id %}">
        <h3>{{blogs.title}}</h3></a>
        <p>{{blogs.body}}</p>
        {% if blogs.image %}
                <img src = "{{ blogs.image.url }}" width = "250" height = "250">
        {% endif %}
        <p>{{blogs.writer}}</p>
        <p>{{blogs.pub_date}}</p>
        <p>{{blogs.felling}}</p>-->
{% endfor %}
{% endblock %}